.add-workout-container {
  background-color: #FDFAF6;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 900px;
  margin: auto;
h2{
    color: #a25f55;
}
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 

    .row {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap; 


      .col {
        flex: 1;
        display: flex;
        flex-direction: column;

        label {
          font-weight: 600;
          color: #a25f55;
          margin-bottom: 0.3rem;
        }

        input, select {
          padding: 0.6rem;
          border: 1px solid #ccc;
          border-radius: 0.5rem;
          // background-color: #fff7f0; 
          color: #a25f55;
        } 

        .dropdown-toggle {
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color: #fff7f0;
    color: #a25f55;
    text-align: left;
    width: 100%;

    &:after {
      float: right;
      margin-top: 6px;
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-left: 0.3em solid transparent;
      content: "";
    }
  }

  .dropdown-menu {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
    padding: 0.75rem 1rem;
  }
      }
    }

    .radio-group {
      display: flex;
      gap: 1rem;

      label {
        font-weight: normal;
      }

      input[type='radio'] {
        margin-right: 0.4rem;
      }
    }

    .submit-btn {
      align-self: flex-end;
      background-color: #fe7745;
      color: #333;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 0.75rem;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s ease;

      &:disabled {
        background-color: #FFCFB3;
        cursor: not-allowed;
      }
    }
  }
}
