<div class="forgot-wrapper">
  <div class="auth-container slide-up">
    <h2>Forgot Password</h2> 
    <p class="description">Enter your email to receive a otp.</p>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Enter your email" />
      <button type="submit" [disabled]="forgotForm.invalid">Send OTP</button>
    </form> 
     <div >
        <a routerLink="/auth/login" class="back-to-login">Back to Login</a>
    </div>
    <p *ngIf="message">{{ message }}</p> 
  </div>
</div>

