<div class="user-list-container">
  <div class="header-section">
    <div class="header-text">
      <h1>User Management</h1>
    </div>
  </div>
  <hr>

  <table class="user-table">
    <thead>
      <tr>
        <th>Profile</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <img [src]="user.profilePicture" alt="Profile" class="profile-img" />
        </td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.address }}</td>
        <td class="actions-cell">
          <div class="dropdown">
            <button class="three-dots" (click)="toggleMenu(user)">&#x22EE;</button>
            <div class="dropdown-menu" *ngIf="selectedUser === user">
              <button (click)="onEdit(user)">Edit</button>
              <button (click)="onDelete(user.id)">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
