<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Notification</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
<div style="max-width: 600px; margin: auto; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;">
    <th:block th:insert="common/header.html"></th:block>

    <div style="padding: 20px; text-align: center;">
        <th:block th:insert="~{::content}"></th:block>
    </div>

    <th:block th:insert="common/footer.html"></th:block>
</div>
</body>
</html>
