<div class="add-workout-container">
  <h2>Add New Workout</h2>

   <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label>Workout Name</label>
        <input formControlName="workoutName" type="text" />
      </div>
      <div class="col">
        <label>Description</label>
        <input formControlName="description" type="text" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Workout Video</label>
        <input type="file" (change)="onFileChange($event)" />
      </div>
      <div class="col">
        <label>Difficulty</label>
        <input formControlName="difficulty" type="text" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Goal Type</label>
        <select formControlName="goalType">
          <option value="" disabled selected>Select goal</option>
          <option *ngFor="let goal of goals" [value]="goal">{{ goal }}</option>
        </select>
      </div>
      <div class="col">
        <label>Is Equipment Available?</label>
        <div class="radio-group">
          <label><input type="radio" value="true" formControlName="equipmentRequired" /> Yes</label>
          <label><input type="radio" value="false" formControlName="equipmentRequired" /> No</label>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="workoutForm.get('equipmentRequired')?.value === 'true'">
      <div class="col">
        <label>Equipment Type</label>
        <input formControlName="equipmentType" type="text" />
      </div>
    </div> 

    <div class="row">
      <div class="col">
        <label>BMI Level</label>
        <select formControlName="bmiLevel">
        <option value="UNDERWEIGHT">Underweight</option>
        <option value="NORMAL">Normal</option>
        <option value="OVERWEIGHT">Overweight</option>
        <option value="OBESE">Obese</option>
      </select>
      </div> 
      </div>

    <div class="row">
      <div class="col">
        <label>Min BMI</label>
        <input formControlName="minBmiLevel" type="number" />
      </div>
      <div class="col">
        <label>Max BMI</label>
        <input formControlName="maxBmiLevel" type="number" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Reps</label>
        <input formControlName="reps" type="number" />
      </div>
      <div class="col">
        <label>Sets</label>
        <input formControlName="sets" type="number" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Calories Burned Estimate</label>
        <input formControlName="caloriesBurnedEstimate" type="number" />
      </div>
      <div class="col">
        <label>Rest Between Sets (seconds)</label>
        <input formControlName="restBetweenSetsInSeconds" type="number" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Targeted Muscles</label>
        <input formControlName="targetedMuscles" type="text" placeholder="e.g., chest, legs" />
      </div>
      <div class="col">
        <label>Tags</label>
        <input formControlName="tags" type="text" placeholder="e.g., beginner, fat-loss" />
      </div>
    </div>

    <button class="submit-btn" [disabled]="workoutForm.invalid" type="submit">
      Update Workout
    </button>
  </form>
</div>
