<div class="login-wrapper">
  <div class="login-card">
    <div class="steps">
      <button class="step active">✔ Account</button>
      <button class="step">✨ Your Plan</button>
    </div>

  

    <h2>Your Workout Plan is ready!</h2>
    <p>Enter your email to create your account</p>

    <div class="form-group">
      <input type="email" id="email" placeholder="Enter your e-mail" />
    </div>

    <div class="privacy">
      <span>🔒 We respect your privacy and protect your data</span>
    </div>

    <button class="login-btn" (click)="onClick()">See my plan</button>
  </div>
</div>
