<div class="otp-wrapper">
  <div class="otp-card">
    <h2>Enter the 6-digit code</h2>
    <p>We’ve sent a verification code to your email</p>

     <form [formGroup]="otpDetails" (ngSubmit)="otpCheck()">
      <div class="otp-boxes">
        <input *ngFor="let otp of otpControls; let i = index"
               #otpInput
               class="otp-input"
               type="text"
               maxlength="1"
               [formControlName]="otp"
               (keydown)="moveToNext($event, i)"
               (paste)="handlePaste($event)" />
      </div>
       <button class="login-btn" [disabled]="remainingTime <= 0" >Verify OTP</button>
    </form>

    <div class="message">
      <p>If you don't see a code in your inbox, check your spam folder.</p>
    </div>

    <div class="text-center">
      <p *ngIf="remainingTime > 0">OTP will expire in: <b>{{ formatTime(remainingTime) }}</b></p>
      <p *ngIf="remainingTime <= 0" class="error-text">OTP has expired</p>
    </div>

   
  </div>
</div>
