<div class="reset-wrapper">
  <div class="auth-container fade-in">
    <h2>Change Password</h2>
    <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
      <input type="password" formControlName="password" placeholder="New Password" />
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
      <button type="submit" [disabled]="changeForm.invalid">Change Password</button>
    </form>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>

