<!-- progress.component.html -->
<div class="progress-wrapper">
  <h2>Weekly Workout Progress</h2> 



  <div class="chart-container">
    <canvas
      baseChart
      [data]="chartData"
      [options]="chartOptions"
      [type]="chartType"
    ></canvas>
  </div> 
  <div class="motivation-message">
  <p>{{ motivationMessage }}</p>
</div>

  <div class="summary">
    <p><strong>Total Completed:</strong> {{ completedCount }}</p>
    <p><strong>In Progress:</strong> {{ inProgressCount }}</p>
  </div>
</div>
